<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn"
      internalLogFile="internal_nlog.txt">

	<!-- 变量定义 -->
	<variable name="logDir" value="${basedir}/logs" />

	<!-- 目标(Targets) -->
	<targets>
		<!-- 文件日志 -->
		<target xsi:type="File"
				name="file"
				fileName="${logDir}/log_${shortdate}.txt"
				layout="${longdate} [${level}] ${message} ${exception:format=ToString}"
				archiveEvery="Day"
				maxArchiveFiles="7"
				encoding="utf-8"
				keepFileOpen="false"
				concurrentWrites="true"
				autoFlush="true" />
	</targets>

	<!-- 规则(Rules) -->
	<rules>
		<!-- 所有日志写入文件 -->
		<logger name="*" minlevel="Debug" writeTo="file" />
	</rules>
</nlog>
